---
layout: archive
permalink: /tags/
title: "Tags"
---
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags reversed %}
    {% assign tagitems = tag | split: '#' %}
    <span itemprop="keywords">
      <a href="/tags/{{tagitems[1]}}" class="page__taxonomy-item" rel="tag">{{tagitems[1]}} ({{ tagitems[2] }})</a>
    </span>
{% endfor %}